<!DOCTYPE html>
<html lang="en">
	
	<head>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="App where users can search and create events in the Washington DC, Maryland and Virginia area">
	    <meta name="author" content="">

	    <title>Eventit</title>

	    <!-- Bootstrap Core CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	    <!-- Custom CSS -->
	    <link href="css/styles.css" rel="stylesheet">


	    <!-- Custom Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	    <!-- Animate CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

	    <!-- Responsive CSS -->
	    <link href="css/responsive.css" rel="stylesheet">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	</head>
	<body>

	<nav class="navbar navbar-inverse" style="margin: 0; border-radius: 0">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavs">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">EventIt</a>
    </div>
    <div class="collapse navbar-collapse" id="topNavs">
    <ul class="nav navbar-nav">
      <li><a href="#id01"><span class="glyphicon glyphicon-user"></span> Register</a></li>
		<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="/action_page.php">
    <div class="container">
    

      <label><b>Name</b></label> 
      <br>
      <input type="username" placeholder="Enter Name" name="nam" required>
<br>
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>


      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>


      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <input type="checkbox" checked="checked"> Remember me
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>



      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  </div>
</nav>

		{{{ body }}}
	
		<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
	</body>
</html>