<div class="row top-30">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-3">
				<h1><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><h2>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="alert alert-success" role="alert">
		  <h2><strong>Success!</strong> Your event has been saved.</h2>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row top-30">
	<div class="col-md-4"></div>
	<div class="col-md-2">
		<a class="btn btn-primary btn-lg" href="/events">Search All Events</a> 
	</div>
	<div class="col-md-2">
		<a class="btn btn-primary btn-lg" href="#">See My Events</a> 
	</div>
</div>
