body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#topNavs {
    float: right;
    width: 400px;
    z-index: 2;
}

#eventit {
    font-family: 'Barrio', cursive;
    font-size: 125px;
}

span {
    color: #777777;
}

.top-30 {
    margin-top: 30px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    font-weight: 900;
    color: #FFDC00;
}

.text-vertical-center h3 {
    color: #000000;
    font-size: 2.5em;
    font-weight: 200;
}
/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

/* About */

.about {
    padding: 50px 0;
}

/* Form */

.panel {
    margin: 0 auto;
    width: 70%;
    background-color: #FFFFFF;
    opacity: 0.9;
}

.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 22px;
}

.panel-login input[type="text"],.panel-login input[type="email"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

/* Video Background */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



